<% for (let i=0; i < orders.length; i++) { %>


  <div class="cartoes-historico">
    <div class="cartoes-historico cartoes-historico__content">
      <div class="cartoes-historico__imagem-box">
        <img alt="Imagem do destino" src="<%= imagens[i].src %>" class="cartoes-historico__imagem">
      </div>
      <div class="cartoes-historico__detalhes-box">

        <h2 class="cartoes-historico__titulo">
          <%= orders[i].pacote.nomePacote %>
        </h2>
        <h3 class="cartoes-historico__detalhes"><span>Valor da Viagem:</span>
          <%= valor(orders[i].valor) %>
        </h3>
        <h3 class="cartoes-historico__detalhes"><span>Usuario:</span>
          <%= orders[i].usuario.nome %> - <%= orders[i].usuario.email %>
        </h3>
        <h3 class="cartoes-historico__detalhes"><span>Status:</span>
          <% if(!orders[i].pedidoAtivo) {%>
            Pedido Cancelado
            <%} else { %>
              <%=orders[i].status %>
                <% } %>
        </h3>
      </div>

    </div>
  </div>

  <% } %>