<% for (let i=0; i < pack.length; i++) { %>
  <li class="promo">
    <a href="/pacotes/1">
      <img alt="Imagem do destino" src="<%= pack[i].imagemCapa%>" />
      <h2 class="Propriedade Nome">
        <%= pack[i].nomePacote%>
      </h2>
      <ul class="Propriedades">
        <li class="Propriedade Hotel">
          <p><img alt="Icone Calendario" src="img/calendar.png" />
            <%= pack[i].diarias%> Diárias
          </p>
        </li>
        <li class="Propriedade Hotel">
          <p><img alt="Icone Check" src="img/check.png" />Hotel</p>
        </li>
        <li class="Propriedade PassagemAerea">
          <p><img alt="Icone Check" src="img/check.png" />Passagem Aerea</p>
        </li>
        <li class="Propriedade Bonus">
          <p><img alt="Icone Check" src="img/check.png" /> Translado e City Tour</p>
        </li>
        <li class="Propriedade ValorInicial preco">
          <h2> A partir de <span>
              <%= valor(pack[i].preco)%>
            </span></h2>
        </li>
        <li class="Propriedade ValorPromocional preco">
          <h1>
            <%= valor(pack[i].promocaoPorcentagem)%>
          </h1>
        </li>
        <h2 class="emAte">em até <%= pack[i].parcelas%>x no cartão de crédito</h2>
      </ul>
    </a>
  <li>
    <% }%>