<img src='<%= pack[0].imagemCapa %>' class='Pacote-ImgContainer__Img-first'>
<ul class='Pacote-ImgContainer__Img-list'>
  <% if (!pack[0].imagemCapa=='' ) {%>
    <li><img src='<%= pack[0].imagemCapa %>' class='Pacote-ImgContainer__Img'></li>
    <% } %>
      <% if (!pack[0].imagem01=='' ) {%>
        <li><img src='<%= pack[0].imagem01 %>' class='Pacote-ImgContainer__Img'></li>
        <% } %>
          <% if (!pack[0].imagem02=='' ) {%>
            <li><img src='<%= pack[0].imagem02 %>' class='Pacote-ImgContainer__Img'></li>
            <% } %>
              <% if (!pack[0].imagem03=='' ) {%>
                <li><img src='<%= pack[0].imagem03 %>' class='Pacote-ImgContainer__Img'></li>
                <% } %>
                  <% if (!pack[0].imagem04=='' ) {%>
                    <li><img src='<%= pack[0].imagem04 %>' class='Pacote-ImgContainer__Img'></li>
                    <% } %>
                      <% if (!pack[0].imagem05=='' ) {%>
                        <li><img src='<%= pack[0].imagem05 %>' class='Pacote-ImgContainer__Img'></li>
                        <% } %>
                          <% if (!pack[0].imagem065=='' ) {%>
                            <li><img src='<%= pack[0].imagem06 %>' class='Pacote-ImgContainer__Img'></li>
                            <% } %>
</ul>