<% for (let i=0; i < pack.length; i++) { %>

  <div class="travel-card travel-card__content">
    <div class="travel-card__imagem-box">
      <img alt="Imagem do destino" src="<%= pack[i].imagemCapa%>" class="travel-card__imagem">
    </div>
    <div class="travel-card__info-box">

      <div class="travel-card__infoDesc">
        <h2 class="Propriedade Nome">
          <%= pack[i].nomePacote%>
        </h2>
        <ul class="Propriedades">
          <li class="Propriedade Hotel">
            <p><img alt="Icone Calendario" src="/assets/img/calendar.png" />
              <%= pack[i].diarias%> diárias
            </p>
          </li>
          <li class="Propriedade Hotel">
            <p><img alt="Icone Check" src="/assets/img/check.png" /> Hotel</p>
          </li>
          <li class="Propriedade PassagemAerea">
            <p><img alt="Icone Check" src="/assets/img/check.png" />Passagem Aérea</p>
          </li>
          <li class="Propriedade Bonus">
            <p><img alt="Icone Check" src="/assets/img/check.png" />
              <%= pacotes[i]%>
            </p>
          </li>
          </li>
      </div>
      <div>
        <div class="travel-card__infoPrice">
          <li class="Propriedade ValorInicial preco">

            <% if ((pack[i].preco-((pack[i].preco * pack[i].promocaoPorcentagem)/100)==pack[i].preco )) {%>
              <h3> A partir de <span>

                </span></h3>
              <% } else {%>
                <h3> A partir de <span class="tachado">
                    <%= valor(pack[i].preco)%>
                  </span></h3>
                <% }%>

          <li class="Propriedade ValorPromocional preco">
            <h1>
              <%=valor(pack[i].preco-((pack[i].preco * pack[i].promocaoPorcentagem)/100))%>
            </h1>
          </li>
          <h3 class="emAte">em até <%= pack[i].parcelas%>x no cartão</h3>
        </div>
        <a href="/pacotes/1"><button class="btao-pacote">Detalhes</button></a>
      </div>
      </ul>

    </div>
    <% if(locals.usuarioLogado && locals.usuarioAdmin==='true' ) { %>
      <div class="btao-Container">
        <a href="pacotes/1/editar" class="btao-form">
          <button class="btao-Container__btao-editar listarPacotes">
            <i class="bi bi-pencil-fill"></i>
          </button>
        </a>
        <a href="pacotes/1/delete" class="btao-form">
          <button class="btao-Container__btao-deletar listarPacotes">
            <i class="bi bi-trash-fill"></i>
          </button>
        </a>
      </div>
      <% } %>
  </div>

  <% } %>