<%- include('./partials/head') %>
  <%- include('./partials/header') %>

    <section class="ajuda">
      <div class="container">
        <div class="ajuda-container">
          <h1>
            <%= tituloAjuda %>
          </h1>
          <% if(locals.usuarioLogado && locals.usuarioAdmin==='true' ) { %>
            <a href="/admin/ajuda">EDITAR</a>
            <% }%>
              <span id="texto" style="display: none; position: absolute; top: -300vw;">
                <%= textoAjuda %>
              </span>
              <span id="texto1"></span>
              <script>
                const texto3 = document.querySelector('#texto').textContent;
                document.getElementById('texto1').innerHTML = texto3;
              </script>
        </div>
      </div>
    </section>

    <%- include('./partials/footer') %>