<%- include('./partials/head') %>
  <%- include('./partials/header') %>

    <section class="ajuda">
      <div class="container">
        <div class="ajuda-container">
          <div class="ajuda-container__nav">
            <h1 id="ajuda">
              <%= tituloPrincipal %>
            </h1>
            <% if(locals.usuarioLogado && locals.usuarioAdmin==='true' ) { %>
              <a href="/admin/ajuda" class="bt-edit">EDITAR</a>
              <% }%>
          </div>
          <span id="duvidas"></span>
          <h2>
            <%= tituloDuvidas %>
          </h2>
          <p>
            <%= textoDuvidas %>
          </p>
          <span id="cancelamentos"></span>
          <h2>
            <%= tituloCancelamentos %>
          </h2>
          <p>
            <%= textoCancelamentos %>
          </p>
          <span id="politica-privacidade"></span>
          <h2>
            <%= tituloPolítica %>
          </h2>
          <p>
            <%= textoPolítica %>
          </p>
        </div>
      </div>
    </section>

    <%- include('./partials/footer') %>