<%- include('./partials/head') %>
  <%- include('./partials/header') %>

    <body>
      <div class='Pacote'>
        <article class='Pacote-TitleContainer'>
          <h2 class='Pacote-TitleContainer__Subtitle'>Pacotes Internacionais</h2>
          <h1 class='Pacote-TitleContainer__Title'>
            <%= orders[0].pacote.nomePacote %>
          </h1>
        </article>
        <nav class='Pacote-ImgContainer'>
          <img src='<%=imagem.src %>' class='Pacote-ImgContainer__Img-first'>
        </nav>
        </ul>
        <aside class="info_container">
          <ul class="Pacote-Propriedades">
            <li class="Pacote-Propriedades__Item Titulo">
              <h1>
                <%= orders[0].pacote.nomePacote %>
              </h1>
            </li>
            <li class="Pacote-Propriedades__Item Dias">
              <img class="Pacote-Propriedades__Item-Img" src="/img/calendar.png">
              <p>
                <%=orders[0].pacote.diarias%> Diárias
              </p>
            </li>

            <div class="Pacote-Propriedades__divisao">
              <li class="Pacote-Propriedades__Item">
                <p><span>Pacote adquirido em:</span>
                  <%= data(orders[0].createdAt) %>
                </p>
              </li>
              <% if(!orders[0].pedidoAtivo) {%>
                <li class="Pacote-Propriedades__Item">
                  <p><span>Pacote cancelado em:</span>
                    <%= data(orders[0].updatedAt) %>
                  </p>
                </li>
                <% } %>
                  <li class="Pacote-Propriedades__Item">
                    <p><span>Valor pago:</span>
                      <%= valor(orders[0].valor) %>
                    </p>
                  </li>
                  <li class="Pacote-Propriedades__Item">
                    <p><span>Parcelado em:</span>
                      <%= orders[0].parcelamento %>x de <%=valor(orders[0].valor /orders[0].parcelamento)%>
                    </p>
                  </li>
                  <li class="Pacote-Propriedades__Item">
                    <% if(!orders[0].pedidoAtivo) {%>
                      <p><span>Status:</span> Pedido Cancelado</p>
                      <% } else { %>
                        <p><span>Status:</span> Aguardando a Viagem</p>
                        <% } %>
                  </li>
            </div>
          </ul>
          <% if(orders[0].pedidoAtivo) {%>
            <button onclick="openModal()" class="Pacote__Button-Cancelar">Cancelar Compra</button>
            <% } %>

        </aside>
      </div>

      <div class="modal" id="modal">
        <div class="modal-alert">
          <div class="modal-conteudo">
            <h1 class="tituloModal tituloAlert">Deseja realmente sua viagem: <%= orders[0].pacote.nomePacote %>?
            </h1>
            <form action="./<%=orders[0].id %>/editar" method="POST">
              <button type="submit" class="btao-pacote btn-alert">Sim</button>
              <a onclick="closeModal()" class="btao-pacote btn-cancel">Não</a>
            </form>
          </div>
        </div>
      </div>

      <script>
        function openModal() {
          document.getElementById('modal').classList.add('modal-active');
          document.body.classList.add('scrollNone');
        }

        function closeModal() {
          document.getElementById('modal').classList.remove('modal-active');
          document.body.classList.remove('scrollNone');
        }
      </script>

      <%- include('./partials/footer') %>