<%- include('./partials/head') %>
  <%- include('./partials/header') %>

    <div class="container container-pacotes">
      <div class="title-bar">
        <h1>
          Resultados da pesquisa: <%= queryUp %>
        </h1>
      </div>
      <div class="travel-cards">
        <% if(locals.imagem) { %>
          <div class="container container-historico container-historico-null" style="margin: 0 auto;">
            <div class="box1">
              <h1>Não encontramos nenhuma viagem para o local desejado.</h1>
              <h2>Você pode buscar novamente, ou acessar diretamente pelo menu Nossos Pacotes e conferir nossas ofertas.</h2>
            </div>
            <div class="box2">
              <img src="<%= imagem %>" width="100%" alt="">
            </div>
          </div>
          <% } else {%>
            <%- include('./partials/travel-card') %>
              <% } %>
      </div>
    </div>

    <!-- <div class="container paginacao">
      <a href="" class="nav-pag">
        Anterior </a>
      <a href="" class="nav-pag">1</a>
      <a href="" class="nav-pag">2</a>
      <a href="" class="nav-pag">3</a>
      <a href="" class="nav-pag">4</a>
      <a href="" class="nav-pag">5</a>
      <a href="" class="nav-pag">Próxima</a>
    </div> -->

    <%- include('./partials/footer') %>