<%- include('./partials/head') %>
<%- include('./partials/header') %>

<main class= "perfil">
        
    <h1>Meu Perfil<h1> <button class="perfil__btn-editar">Editar</button>
    <div class="perfil__dados-do-usuario">

        <div class="dados-do-usuario__img-container">
            <img class="img-container__avatar"src="<%= usuario.avatar %>">
        </div>
        <div class="dados-do-usuario__info">
            <h2 class="info__titulo">Nome Completo</h2>
            <p><%= usuario.nome %></p>
        </div>
        <div class="dados-do-usuario__info">
            <h2 class="info__titulo">E-mail</h2>
            <p><%= usuario.email %></p>

        </div>
        <div class="dados-do-usuario__info">
            <h2 class="info__titulo">Data de Nascimento</h2>
            <p><%= usuario.nascimento %></p>
        </div>
        <div>
            <h2 class="info__titulo">Telefone</h2>
            <p><%= usuario.telefone[0] %></p>
        </div>
        <div>
            <h2 class="info__titulo">CPF</h2>
            <p><%= usuario.cpf %></p>

        </div>
        <div>
            <h2 class="info__titulo">CEP</h2>
            <p><%= usuario.cep %></p>

        </div>
        <div>
            <h2 class="info__titulo">Endereço</h2>
            <p><%= usuario.endereco[0] %></p>

        </div>
        <div>
            <h2 class="info__titulo" >Complemento</h2>
            <p><%= usuario.complemento %></p>
        </div>
        <div>
            <h2 class="info__titulo" >Cidade</h2>
            <p><%= usuario.cidade %></p>
        </div>
        <div>
            <h2 class="info__titulo">Estado</h2>
            <p><%= usuario.uf %></p>
        </div>
    </div>








</main>

<%- include('./partials/footer') %>